### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vs/
.vscode/
*.sln
*.VC.db
*.opensdf
*.opendb